version: '3.8'

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"

  app:
    build: ./app
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  mongo-exporter:
    image: percona/mongodb_exporter:0.40.0
    command: --mongodb.uri=mongodb://mongo:27017
    ports:
      - "9216:9216"
    depends_on:
      - mongo

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - app
      - mongo-exporter

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus